html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    line-height: 1.8;
}
p {
    font-family: $fuente_parrafos;
    color: $negro;
    font-size: 2rem;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    font-family: $fuente_principal;
    text-decoration: none;
    &:active{
        color: $azul;
    }
    &:visited{
        color: #28327D;
    }
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    //font-family: $fuente_principal;
    margin-bottom: 1px;
    font-weight: 300;
    text-align: center;
    
}

h1 {
    font-family: $fuente_principal;
    font-size: 3.8rem;
}
h2 {
    font-family: $fuente_titulos;
    font-size: 3.4rem;
}
h3 {
    font-family: $fuente_parrafos;
    font-size: 2.8rem;
}
h4 {
    font-size: 2.6rem;
}

ul{
    list-style: none;
}