
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Fuentes
$fuente_principal: 'Roboto', sans-serif;
$fuente_titulos: 'Rubik', sans-serif;
$fuente_parrafos: 'Nunito', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 962px;
$desktop: 1024px;

// Colores
$negro: #050505;
$amarillo: #FFD700;
$claro: #FFF3D4;
$lila: #28327D;
$azul: #3643A3;
$blanco: #FFFFFF;
$marron: #513218;
$grisOscuro: #8E8287;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900