.intro{
    .profundizar{
        font-size: 3rem;
        margin-top: 2rem;
        text-align: left;
        font-weight: $bold;
        line-height: 1.2;
        padding-bottom: 4rem;
    }
    p{
        margin: 0rem auto;            
        &:first-child{
            padding-top: 6rem;
            
        }
    }
    span{
        color:$azul;
    }
    @include tablet{
    display: grid;
    grid-template-columns: 50% 40%;
    gap:$separacion;
    }
    
}
.rigth{
    align-self: center;
    img{
        display: inline-block;
        border: 1px solid #0000;
        border-radius: 4rem;
    }
}